---
Checks: '-*,
abseil-*,
bugprone-*,
-bugprone-unchecked-optional-access,
-bugprone-easily-swappable-parameters,
clang-analyzer-*,
-clang-analyzer-apiModeling.Errno,
cppcoreguidelines-pro-type-member-init,
cppcoreguidelines-slicing,
cppcoreguidelines-interfaces-global-init,
cppcoreguidelines-narrowing-conversions,
google-default-arguments,
google-runtime-operator,
google-explicit-constructor,
hicpp-multiway-paths-covered,
hicpp-exception-baseclass,
llvm-else-after-return,
llvm-qualified-auto,
misc-*,
-misc-unused-parameters,
-misc-no-recursion,
-misc-non-private-member-variables-in-classes,
-misc-const-correctness,
modernize-*,
-modernize-use-nodiscard,
-modernize-loop-convert,
-modernize-use-trailing-return-type,
-modernize-avoid-c-arrays,
performance-*,
-performance-no-int-to-ptr,
-performance-unnecessary-copy-initialization,
readability-*,
-readability-braces-around-statements,
-readability-use-anyofallof,
-readability-identifier-length,
-readability-magic-numbers,
-readability-qualified-auto,
-readability-uppercase-literal-suffix,
-readability-function-cognitive-complexity,
-readability-implicit-bool-conversion,
-readability-make-member-function-const,
-readability-convert-member-functions-to-static'
