__pycache__/
*.pyc
*.egg-info/
*.dist-info/
*.so
*.dll
dist/
build/
bin/
.mypy_cache/
.benchmarks/

.idea/
.vscode/

*.id0
*.id1
*.id2
*.idb
*.i64
*.nam
*.til

main.elf

perf.mData
perf.mData.old
.gdb_history

.DS_Store
tools/aarch64-none-elf-objdump