name: lint_pr
on: [push, pull_request]
jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - uses: DoozyX/clang-format-lint-action@v0.18.2
      with:
        source: 'src'
        exclude: 'lib'
        clangFormatVersion: 19
